*{
    box-sizing: border-box !important;
    margin: 0px;
    padding: 0px;
}

.app-container{
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
 background-color: #FFFFFF;
}

.container {
  margin : auto;
  height: 100%;
  max-width: 400px;
  width: 100%;
  padding: 40px 20px;
  background-color: #F7F8F9;
}


.heading{
  color: #1D2226;
  font-size: 28px;
}
.content{
  color: #1D2226;
  opacity: 0.6;
  padding: 5px 0px ;
  font-size: 18px;
}

input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none; 
  width: 100%;
 height: 100%;
 border-radius: 6px;
 border: none;
 padding-left: 6px;
 padding-bottom: 6px;
 font-size: 14px;
}

.form-input{
  width: 100%;
 height: 40px;
 border-radius: 6px;
 border: none;
 padding-left: 6px;
 padding-bottom: 6px;
}

.profile-name{
  font-size: 15px;
  color: #1D2226;
}

.btn-text{
  font-size: 16px;
  font-weight: semi-bold;
}

.input-fieldset{
  border-radius: 6px;
  height: 40px;
}


.input-fields-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}