@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

body {
  font-family: 'Inter', 'Roboto', 'Helvetica Neue', sans-serif;
  color: #1D2226;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  font-family: 'Rubik', sans-serif;
}


